@use "../../../../src/abstracts/mixins" as *;

.navigation {
  nav {
    backdrop-filter: saturate(180%) blur(20px);
    //background-color: var(--navbar-background);
    //box-shadow: var(--navbar-menu-shadow);
  }
}

.navbar__menu {
  --background-color: var(--neutral-color-variation-1);
}

@include mq(tablet-medium) {
  .navbar__menu {
    background-color: transparent;
  }
}