/* ------------------------------------------------------------------------------------------------------
  * _palette.scss : Liste de couleurs nominative couramment utilisées dans l"industrie informatique
  -------------------------------------------------------------------------------------------------------- */

// Liste de 336 couleurs nommées
// Socials brand color
// Source: https://designpieces.com/2012/12/social-media-colours-hex-and-rgb/


$color-Transparent            : rgba(0, 0, 0, 0);

$color-DimGray                : rgb(84, 84, 84);
$color-LightYellow            : rgb(255, 255, 224);
$color-DarkGray               : rgb(84, 84, 84);
$color-Ivory                  : rgb(255, 255, 240);
$color-WhiteSmoke             : rgb(245, 245, 245);
$color-Silver                 : rgb(192, 192, 192);
$color-White                  : rgb(255, 255, 255);
$color-Gray                   : rgb(128, 128, 128);
$color-LightGray              : rgb(168, 168, 168);
$color-LtGray                 : rgb(192, 192, 192);
$color-Gainsboro              : rgb(220, 220, 220);
$color-Yellow                 : rgb(255, 255, 0);
$color-LightGoldenrodYellow   : rgb(250, 250, 210);
$color-Khaki2                 : rgb(159, 159, 95);
$color-Olive                  : rgb(128, 128, 0);
$color-DarkOliveGreen2        : rgb(79, 79, 47);
$color-Beige                  : rgb(245, 245, 220);
$color-Fractal                : rgb(128, 128, 128);
$color-MediumGoldenrod        : rgb(234, 234, 173);
$color-BrightGold             : rgb(217, 217, 26);
$color-Goldenrod2             : rgb(219, 219, 112);
$color-Gray95                 : rgb(242, 242, 242);
$color-Gray20                 : rgb(51, 51, 51);
$color-Gray15                 : rgb(38, 38, 38);
$color-Gray25                 : rgb(64, 64, 64);
$color-Gray35                 : rgb(89, 89, 89);
$color-Gray30                 : rgb(77, 77, 77);
$color-Wheat2                 : rgb(216, 216, 191);
$color-Black                  : rgb(0, 0, 0);
$color-Gray10                 : rgb(26, 26, 26);
$color-Gray05                 : rgb(13, 13, 13);
$color-Gray40                 : rgb(102, 102, 102);
$color-Gray85                 : rgb(217, 217, 217);
$color-Gray65                 : rgb(166, 166, 166);
$color-Gray70                 : rgb(179, 179, 179);
$color-Gray80                 : rgb(204, 204, 204);
$color-Gray75                 : rgb(192, 192, 192);
$color-Gray50                 : rgb(128, 128, 128);
$color-Gray45                 : rgb(115, 115, 115);
$color-Gray90                 : rgb(230, 230, 230);
$color-Gray60                 : rgb(153, 153, 153);
$color-Gray55                 : rgb(140, 140, 140);
$color-Pear                   : rgb(209, 226, 49);
$color-BitterLemon            : rgb(202, 224, 13);
$color-SwampGreen             : rgb(172, 183, 142);
$color-OliveDrab              : rgb(107, 142, 35);
$color-MediumForestGreen      : rgb(107, 142, 35);
$color-YellowGreen            : rgb(154, 205, 50);
$color-YellowGreen2           : rgb(153, 204, 50);
$color-DarkOlive              : rgb(85, 104, 50);
$color-DarkOliveGreen         : rgb(85, 107, 47);
$color-GreenYellow            : rgb(173, 255, 47);
$color-GrayTeaGreen           : rgb(202, 218, 186);
$color-MediumSpringGreen2     : rgb(127, 255, 0);
$color-Chartreuse             : rgb(127, 255, 0);
$color-LawnGreen              : rgb(124, 252, 0);
$color-CamouflageGreen        : rgb(120, 134, 107);
$color-Asparagus              : rgb(123, 160, 91);
$color-Reef                   : rgb(201, 255, 162);
$color-BrightGreen            : rgb(102, 255, 0);
$color-TeaGreen               : rgb(208, 240, 192);
$color-GreenYellow2           : rgb(147, 219, 112);
$color-DarkTeaGreen           : rgb(186, 219, 173);
$color-FernGreen              : rgb(79, 121, 66);
$color-GrayAsparagus          : rgb(70, 89, 69);
$color-DarkSeaGreen           : rgb(143, 188, 143);
$color-Honeydew               : rgb(240, 255, 240);
$color-LimeGreen              : rgb(50, 205, 50);
$color-PaleGreen              : rgb(152, 251, 152);
$color-MossGreen              : rgb(173, 223, 173);
$color-MoneyGreen             : rgb(192, 220, 192);
$color-PastelGreen            : rgb(119, 221, 119);
$color-ForestGreen            : rgb(34, 139, 34);
$color-Lime                   : rgb(0, 255, 0);
$color-LtGreen                : rgb(192, 220, 192);
$color-LimeGreen2             : rgb(50, 204, 50);
$color-Green                  : rgb(0, 128, 0);
$color-DarkGreen              : rgb(0, 100, 0);
$color-MediumSeaGreen2        : rgb(66, 111, 66);
$color-DarkGreen2             : rgb(47, 79, 47);
$color-DarkPastelGreen        : rgb(3, 192, 60);
$color-Emerald                : rgb(80, 200, 120);
$color-Malachite              : rgb(11, 218, 81);
$color-SeaGreen               : rgb(46, 139, 87);
$color-MediumSeaGreen         : rgb(60, 179, 113);
$color-SpringGreen            : rgb(0, 255, 127);
$color-MintCream              : rgb(245, 255, 250);
$color-DarkSpringGreen        : rgb(23, 114, 69);
$color-MediumSpringGreen      : rgb(0, 250, 154);
$color-Jade                   : rgb(0, 168, 107);
$color-MediumAquamarine       : rgb(102, 205, 170);
$color-Aquamarine             : rgb(127, 255, 212);
$color-MediumAquamarine2      : rgb(50, 204, 153);
$color-SeaGreen2              : rgb(35, 142, 107);
$color-Viridian               : rgb(64, 130, 109);
$color-HuntersGreen           : rgb(33, 94, 79);
$color-DarkkGreenCopper       : rgb(74, 117, 110);
$color-Turquoise              : rgb(64, 224, 208);
$color-PineGreen              : rgb(1, 121, 111);
$color-LightSeaGreen          : rgb(32, 178, 170);
$color-MediumTurquoise        : rgb(71, 209, 204);
$color-RobinEggBlue           : rgb(0, 204, 204);
$color-Cyan                   : rgb(0, 255, 255);
$color-LightBlue2             : rgb(191, 216, 216);
$color-PaleTurquoise          : rgb(175, 238, 238);
$color-LightCyan              : rgb(224, 255, 255);
$color-MediumTurquoise2       : rgb(112, 219, 219);
$color-Turquoise2             : rgb(173, 234, 234);
$color-DarkCyan               : rgb(0, 139, 139);
$color-Teal                   : rgb(0, 128, 128);
$color-Azure                  : rgb(240, 255, 255);
$color-DarkSlateGray          : rgb(47, 79, 79);
$color-DarkTurquoise          : rgb(0, 206, 209);
$color-CadetBlue              : rgb(95, 158, 160);
$color-PowderBlue             : rgb(176, 224, 230);
$color-BondiBlue              : rgb(0, 149, 182);
$color-LightBlue              : rgb(173, 216, 230);
$color-DeepSkyBlue            : rgb(0, 191, 255);
$color-Cerulean               : rgb(0, 123, 167);
$color-SummerSky              : rgb(56, 176, 222);
$color-SkyBlue                : rgb(135, 206, 235);
$color-SteelBlue2             : rgb(35, 107, 142);
$color-SkyBlue2               : rgb(50, 153, 204);
$color-LightSkyBlue           : rgb(135, 206, 250);
$color-PrussianBlue           : rgb(0, 49, 83);
$color-SteelBlue              : rgb(70, 130, 180);
$color-AliceBlue              : rgb(240, 248, 255);
$color-DarkCerulean           : rgb(8, 69, 126);
$color-DodgerBlue             : rgb(30, 144, 255);
$color-PaleCornflowerBlue     : rgb(171, 205, 239);
$color-SlateGray              : rgb(112, 128, 144);
$color-LightSlateGray         : rgb(119, 136, 153);
$color-SlateBlue2             : rgb(0, 127, 255);
$color-Casper                 : rgb(173, 190, 209);
$color-Denim                  : rgb(21, 96, 189);
$color-LightSteelBlue         : rgb(176, 196, 222);
$color-Cobalt                 : rgb(0, 71, 171);
$color-CornflowerBlue         : rgb(100, 149, 237);
$color-DarkTurquoise2         : rgb(112, 147, 219);
$color-Sapphire               : rgb(8, 37, 103);
$color-InternationalKleinBlue : rgb(0, 47, 167);
$color-CeruleanBlue           : rgb(42, 82, 190);

$color-RoyalBlue              : rgb(65, 105, 225);
$color-BlackBlue              : rgb(19, 20, 24);
$color-GhostWhite             : rgb(248, 248, 255);
$color-Lavender               : rgb(230, 230, 250);
$color-Navy                   : rgb(0, 0, 128);
$color-Blue                   : rgb(0, 0, 255);
$color-Quartz                 : rgb(217, 217, 242);
$color-MediumBlue2            : rgb(50, 50, 204);
$color-CornflowerBlue2        : rgb(66, 66, 111);
$color-NavyBlue               : rgb(35, 35, 142);
$color-Periwinkle             : rgb(204, 204, 255);
$color-NeonBlue               : rgb(77, 77, 255);
$color-MidnightBlue2          : rgb(47, 47, 79);
$color-LightSteelBlue2        : rgb(143, 143, 188);
$color-MediumBlue             : rgb(0, 0, 205);
$color-MidnightBlue           : rgb(25, 25, 112);
$color-NewMidnightBlue        : rgb(0, 0, 156);
$color-RichBlue               : rgb(89, 89, 171);
$color-Ultramarine            : rgb(18, 10, 143);
$color-SlateBlue              : rgb(106, 90, 205);
$color-DarkSlateBlue          : rgb(72, 61, 139);
$color-MediumSlateBlue        : rgb(123, 104, 238);
$color-MediumOrchid2          : rgb(147, 112, 219);
$color-PersianBlue            : rgb(102, 0, 255);
$color-MediumSlateBlue2       : rgb(127, 0, 255);
$color-Amethyst               : rgb(153, 102, 204);
$color-DarkIndigo             : rgb(49, 0, 98);
$color-BlueViolet             : rgb(138, 43, 226);
$color-Indigo                 : rgb(75, 0, 130);
$color-Mauve                  : rgb(224, 176, 255);
$color-DarkOrchid             : rgb(153, 50, 204);
$color-DarkSlateBlue2         : rgb(107, 35, 142);
$color-Wisteria               : rgb(201, 160, 220);
$color-DarkViolet             : rgb(148, 0, 211);
$color-MediumPurple2          : rgb(186, 41, 245);
$color-Heliotrope             : rgb(223, 115, 255);
$color-MediumOrchid           : rgb(186, 85, 211);
$color-Carmine                : rgb(150, 0, 24);
$color-PastelPink             : rgb(255, 209, 220);
$color-Sangria                : rgb(146, 0, 10);
$color-Thistle                : rgb(216, 191, 216);
$color-FireBrick              : rgb(178, 34, 34);
$color-Brown                  : rgb(165, 42, 42);
$color-MountbattenPink        : rgb(153, 122, 141);
$color-PalePink               : rgb(250, 218, 221);
$color-DustyRose              : rgb(133, 99, 99);
$color-Salmon2                : rgb(111, 66, 66);
$color-IndianRed              : rgb(255, 92, 92);
$color-RosyBrown              : rgb(188, 143, 143);
$color-Indian                 : rgb(79, 47, 47);
$color-Maroon                 : rgb(128, 0, 0);
$color-AlizarinCrimson        : rgb(227, 38, 54);
$color-Cerise                 : rgb(222, 49, 99);
$color-Cardinal               : rgb(196, 30, 58);
$color-Red                    : rgb(255, 0, 0);
$color-LavenderBlush          : rgb(255, 240, 245);
$color-Snow                   : rgb(255, 250, 250);
$color-Crimson                : rgb(220, 20, 60);
$color-Monza                  : rgb(199, 3, 30);
$color-LightRed               : rgb(255, 128, 128);
$color-MediumViolet           : rgb(219, 112, 147);
$color-DarkPurple             : rgb(135, 31, 120);
$color-Violet2                : rgb(79, 47, 79);
$color-Thistle2               : rgb(216, 191, 216);
$color-VioletEggplant         : rgb(153, 17, 153);
$color-Puce                   : rgb(204, 136, 153);
$color-Plum                   : rgb(221, 160, 221);
$color-Violet                 : rgb(238, 130, 238);
$color-BrightViolet           : rgb(205, 0, 205);
$color-VioletRed              : rgb(204, 50, 153);
$color-DarkPink               : rgb(231, 84, 128);
$color-DarkTerraCotta         : rgb(204, 78, 92);
$color-Fuchsia                : rgb(255, 0, 255);
$color-LightCoral             : rgb(240, 128, 128);
$color-DeepPink               : rgb(255, 20, 147);
$color-Pink2                  : rgb(188, 143, 143);
$color-NeonPink               : rgb(255, 110, 199);
$color-Eggplant               : rgb(153, 0, 102);
$color-HotPink                : rgb(255, 105, 180);
$color-Purple                 : rgb(128, 0, 128);
$color-VermillonLight         : rgb(245, 109, 109);
$color-MediumVioletRed        : rgb(199, 21, 133);
$color-Lilac                  : rgb(200, 162, 200);
$color-LightMagenta           : rgb(255, 128, 255);
$color-Firebrick2             : rgb(142, 35, 35);
$color-Burgundy               : rgb(144, 0, 32);
$color-DarkScarlet            : rgb(86, 3, 25);
$color-DarkRed                : rgb(139, 0, 0);
$color-PaleMagenta            : rgb(249, 132, 229);
$color-PaleChestnut           : rgb(221, 173, 175);
$color-PaleVioletRed          : rgb(219, 112, 147);
$color-Pink                   : rgb(255, 192, 203);
$color-PaleMauve              : rgb(153, 102, 102);
$color-Orchid                 : rgb(218, 112, 214);
$color-PaleCarmine            : rgb(175, 64, 53);
$color-MistyRose              : rgb(255, 228, 225);
$color-Salmon                 : rgb(250, 128, 114);
$color-Scarlet                : rgb(255, 36, 0);
$color-BurntUmber             : rgb(138, 51, 36);
$color-Tomato                 : rgb(255, 99, 71);
$color-DarkChestnut           : rgb(152, 105, 96);
$color-DarkCoral              : rgb(205, 91, 69);
$color-TerraCotta             : rgb(226, 114, 91);
$color-BurntSienna            : rgb(233, 116, 81);
$color-DarkSalmon             : rgb(233, 150, 122);
$color-Coral                  : rgb(255, 127, 80);
$color-OrangeRed              : rgb(255, 69, 0);
$color-LightSalmon            : rgb(255, 160, 122);
$color-Rust                   : rgb(183, 65, 14);
$color-Vermilion              : rgb(255, 77, 0);
$color-Feldspar               : rgb(209, 145, 117);
$color-InternationalOrange    : rgb(255, 79, 0);
$color-Zinnwaldite            : rgb(235, 194, 175);
$color-DarkBrown2             : rgb(92, 64, 51);
$color-Sienna                 : rgb(160, 82, 45);
$color-Tan                    : rgb(219, 147, 112);
$color-PinkOrange             : rgb(255, 153, 102);
$color-Peru                   : rgb(255, 133, 63);
$color-DarkTan2               : rgb(150, 105, 79);
$color-PaleSandyBrown         : rgb(218, 189, 171);
$color-MandarinOrange         : rgb(227, 120, 51);
$color-Bistre                 : rgb(61, 43, 31);
$color-Pumpkin                : rgb(255, 117, 24);
$color-BakersChoc             : rgb(92, 51, 23);
$color-SeaShell               : rgb(255, 245, 238);
$color-Chocolate              : rgb(210, 105, 30);
$color-SaddleBrown            : rgb(139, 69, 19);
$color-BurntOrange            : rgb(204, 85, 0);
$color-Taupe                  : rgb(188, 152, 126);
$color-Tenne                  : rgb(205, 87, 0);
$color-Russet                 : rgb(128, 70, 27);
$color-MediumWood             : rgb(166, 128, 99);
$color-SandyBrown             : rgb(244, 164, 96);
$color-PeachPuff              : rgb(255, 218, 185);
$color-Copper                 : rgb(184, 115, 51);
$color-Copper2                : rgb(184, 115, 51);
$color-Bronze                 : rgb(205, 127, 50);
$color-Coral2                 : rgb(255, 127, 0);
$color-DarkBrown              : rgb(101, 67, 33);
$color-Sepia                  : rgb(112, 66, 20);
$color-Ochre                  : rgb(204, 119, 34);
$color-PeachOrange            : rgb(255, 204, 153);
$color-Linen                  : rgb(250, 240, 230);
$color-Gold2                  : rgb(204, 127, 50);
$color-PaleBrown              : rgb(152, 118, 84);
$color-Orange2                : rgb(255, 128, 0);
$color-Cinnamon               : rgb(123, 63, 0);
$color-NewTan                 : rgb(235, 199, 158);
$color-Bisque                 : rgb(255, 228, 196);
$color-Carrot                 : rgb(237, 145, 33);
$color-DarkOrange             : rgb(255, 140, 0);
$color-BurlyWood              : rgb(222, 184, 135);
$color-CoolCopper             : rgb(217, 135, 26);
$color-AntiqueWhite           : rgb(250, 235, 215);
$color-LightBrown             : rgb(210, 180, 140);
$color-RawUmber               : rgb(115, 74, 18);
$color-NavajoWhite            : rgb(255, 222, 173);
$color-BlanchedAlmond         : rgb(255, 235, 205);
$color-Bronze3                : rgb(166, 125, 61);
$color-PapayaWhip             : rgb(255, 239, 213);
$color-Moccasin               : rgb(255, 228, 181);
$color-Orange                 : rgb(255, 165, 0);
$color-PeachYellow            : rgb(250, 223, 173);
$color-Wheat                  : rgb(245, 222, 179);
$color-OldLace                : rgb(253, 245, 230);
$color-Peach                  : rgb(255, 229, 180);
$color-Gamboge                : rgb(228, 155, 15);
$color-FloralWhite            : rgb(255, 250, 240);
$color-Sienna2                : rgb(142, 107, 35);
$color-DarkGoldenrod          : rgb(184, 134, 11);
$color-GoldenRod              : rgb(218, 165, 32);
$color-Amber                  : rgb(255, 191, 0);
$color-DarkTan                : rgb(145, 129, 81);
$color-Saffron                : rgb(244, 196, 48);
$color-Mustard                : rgb(255, 219, 88);
$color-Cornsilk               : rgb(255, 248, 220);
$color-Tangerine              : rgb(255, 204, 0);
$color-Bronze2                : rgb(140, 120, 36);
$color-Buff                   : rgb(240, 220, 130);
$color-OldGold                : rgb(207, 181, 59);
$color-OldGold2               : rgb(207, 181, 59);
$color-Flax                   : rgb(238, 220, 130);
$color-Gold                   : rgb(255, 215, 0);
$color-Brass                  : rgb(181, 166, 66);
$color-Brass2                 : rgb(181, 166, 66);
$color-Khaki                  : rgb(240, 230, 140);
$color-LemonChiffon           : rgb(255, 250, 205);
$color-Corn                   : rgb(251, 236, 93);
$color-PaleGoldenrod          : rgb(238, 232, 170);
$color-Lemon                  : rgb(253, 233, 16);
$color-DarkKhaki              : rgb(189, 183, 107);
$color-Cream                  : rgb(255, 253, 208);

// material colors
$color-facebook               : #3b5998;
$color-twitter                : #55acee;
$color-linkedin               : #007bb5;
$color-instagram              : #125688;
$color-youtube                : #bb0000;
$color-pinterest              : #cb2027;


/*  - - - - - - - - - - - - - - - - - -
 * Custom colors with a mix of FlatUI and Material
 *  Credits:
 *  http://designmodo.github.io/Flat-UI/
 *  https://www.google.com/design/spec/style/color.html
 *
 *  - - - - - - - - - - - - - - - - - -
 */
$color-gray-100: #F1F3F5;
$color-gray-200: #E9ECEF;
$color-gray-300: #DEE2E6;
$color-gray-400: #CED4DA;
$color-gray-500: #ADB5BD;
$color-gray-600: #868E96;
$color-gray-700: #495057;
$color-gray-800: #343A40;
$color-gray-900: #212529;

$color-neutral-100: #FCFCFC !default;
$color-neutral-200: #F1F1F1 !default;
$color-neutral-300: #B2AFAF !default;
$color-neutral-400: #929396 !default;
$color-neutral-500: #838487 !default;
$color-neutral-600: #5D5C5C !default;
$color-neutral-700: #474745 !default;
$color-neutral-800: #313131 !default;
$color-neutral-900: #1a1c1d !default;

$color-slate-100: #D6DBDF;
$color-slate-200: #AEB6BF;
$color-slate-300: #85929E;
$color-slate-400: #5D6D7E;
$color-slate-500: #34495E;
$color-slate-600: #2E4053;
$color-slate-700: #283747;
$color-slate-800: #212F3C;
$color-slate-900: #1B2631;


$color-red-100:#fee2e2;
$color-red-200:#fecaca;
$color-red-300:#fca5a5;
$color-red-400:#f87171;
$color-red-500:#ef4444;
$color-red-600:#dc2626;
$color-red-700:#b91c1c;
$color-red-800:#991b1b;
$color-red-900:#7f1d1d;

$color-red-alt-100: #F2D7D5;
$color-red-alt-200: #E6B0AA;
$color-red-alt-300: #D98880;
$color-red-alt-400: #CD6155;
$color-red-alt-500: #C0392B;
$color-red-alt-600: #A93226;
$color-red-alt-700: #922B21;
$color-red-alt-800: #7B241C;
$color-red-alt-900: #641E16;

$color-orange-100: #F6DDCC;
$color-orange-200: #EDBB99;
$color-orange-300: #E59866;
$color-orange-400: #DC7633;
$color-orange-500: #D35400;
$color-orange-600: #BA4A00;
$color-orange-700: #A04000;
$color-orange-800: #873600;
$color-orange-900: #6E2C00;

$color-amber-100: #fdebd0;
$color-amber-200: #FAD7A0;
$color-amber-300: #F8C471;
$color-amber-400: #F5B041;
$color-amber-500: #F39C12;
$color-amber-600: #D68910;
$color-amber-700: #B9770E;
$color-amber-800: #9C640C;
$color-amber-900: #7E5109;

$color-brown-100: #D7CCC8;
$color-brown-200: #BCAAA4;
$color-brown-300: #A1887F;
$color-brown-400: #8D6E63;
$color-brown-500: #795548;
$color-brown-600: #6D4C41;
$color-brown-700: #5D4037;
$color-brown-800: #4E342E;
$color-brown-900: #3E2723;

$color-yellow-100: #FCF3CF;
$color-yellow-200: #F9E79F;
$color-yellow-300: #F7DC6F;
$color-yellow-400: #F4D03F;
$color-yellow-500: #F1C40F;
$color-yellow-600: #D4AC0D;
$color-yellow-700: #B7950B;
$color-yellow-800: #9A7D0A;
$color-yellow-900: #7D6608;

$color-lime-100: #F0F4C3;
$color-lime-200: #E6EE9C;
$color-lime-300: #DCE775;
$color-lime-400: #D4E157;
$color-lime-500: #CDDC39;
$color-lime-600: #C0CA33;
$color-lime-700: #AFB42B;
$color-lime-800: #9E9D24;
$color-lime-900: #827717;

$color-indigo-100: #C5CAE9;
$color-indigo-200: #9FA8DA;
$color-indigo-300: #7986CB;
$color-indigo-400: #5C6BC0;
$color-indigo-500: #3F51B5;
$color-indigo-600: #3949AB;
$color-indigo-700: #303F9F;
$color-indigo-800: #283593;
$color-indigo-900: #1A237E;

$color-blue-100: #E1EFFC;
$color-blue-200: #BFDCFC;
$color-blue-300: #8BC2F8;
$color-blue-400: #5FA7F3;
$color-blue-500: #3C91EC;
$color-blue-600: #1B74D9;
$color-blue-700: #1E5898;
$color-blue-800: #1E4C80;
$color-blue-900: #1C3C63;

$color-light-blue-100: #AED6F1;
$color-light-blue-200: #81D4FA;
$color-light-blue-300: #4FC3F7;
$color-light-blue-400: #29B6F6;
$color-light-blue-500: #03A9F4;
$color-light-blue-600: #039BE5;
$color-light-blue-700: #0288D1;
$color-light-blue-800: #0277BD;
$color-light-blue-900: #01579B;

$color-cyan-100: #b2ebf2;
$color-cyan-200: #80deea;
$color-cyan-300: #4dd0e1;
$color-cyan-400: #26c6da;
$color-cyan-500: #00bcd4;
$color-cyan-600: #00acc1;
$color-cyan-700: #0097a7;
$color-cyan-800: #00838f;
$color-cyan-900: #006064;

$color-teal-100: #DDF2F5;
$color-teal-200: #B5E6EB;
$color-teal-300: #7FCED5;
$color-teal-400: #59BAC3;
$color-teal-500: #1E9CA8;
$color-teal-600: #0F7D8A;
$color-teal-700: #0A616A;
$color-teal-800: #105157;
$color-teal-900: #114448;

$color-green-sea-100: #D1F2EB;
$color-green-sea-200: #A3E4D7;
$color-green-sea-300: #76D7C4;
$color-green-sea-400: #48C9B0;
$color-green-sea-500: #1ABC9C;
$color-green-sea-600: #17A589;
$color-green-sea-700: #148F77;
$color-green-sea-800: #117864;
$color-green-sea-900: #0E6251;

$color-green-forest-100: #E1F7EB;
$color-green-forest-200: #C2ECD6;
$color-green-forest-300: #98D9B7;
$color-green-forest-400: #64C192;
$color-green-forest-500: #44A675;
$color-green-forest-600: #33855D;
$color-green-forest-700: #27684A;
$color-green-forest-800: #275440;
$color-green-forest-900: #234535;

$color-light-green-100: #DCEDC8;
$color-light-green-200: #C5E1A5;
$color-light-green-300: #AED581;
$color-light-green-400: #9CCC65;
$color-light-green-500: #8BC34A;
$color-light-green-600: #7CB342;
$color-light-green-700: #689F38;
$color-light-green-800: #558B2F;
$color-light-green-900: #33691E;

$color-green-100: #C8E6C9;
$color-green-200: #A5D6A7;
$color-green-300: #81C784;
$color-green-400: #66BB6A;
$color-green-500: #4CAF50;
$color-green-600: #43A047;
$color-green-700: #388E3C;
$color-green-800: #2E7D32;
$color-green-900: #1B5E20;

$color-emerald-100: #D5F5E3;
$color-emerald-200: #ABEBC6;
$color-emerald-300: #82E0AA;
$color-emerald-400: #58D68D;
$color-emerald-500: #2ECC71;
$color-emerald-600: #28B463;
$color-emerald-700: #239B56;
$color-emerald-800: #1D8348;
$color-emerald-900: #186A3B;

$color-deep-purple-100: #E8DAEF;
$color-deep-purple-200: #D2B4DE;
$color-deep-purple-300: #BB8FCE;
$color-deep-purple-400: #A569BD;
$color-deep-purple-500: #8E44AD;
$color-deep-purple-600: #7D3C98;
$color-deep-purple-700: #6C3483;
$color-deep-purple-800: #5B2C6F;
$color-deep-purple-900: #4A235A;

$color-purple-100: #F0E9FB;
$color-purple-200: #E2D4F8;
$color-purple-300: #CBB2F6;
$color-purple-400: #B89AF4;
$color-purple-500: #9C73ED;
$color-purple-600: #8256E1;
$color-purple-700: #6340B6;
$color-purple-800: #50388E;
$color-purple-900: #413170;

$color-fuchsia-100: #E1BEE7;
$color-fuchsia-200: #CE93D8;
$color-fuchsia-300: #BA68C8;
$color-fuchsia-400: #AB47BC;
$color-fuchsia-500: #9C27B0;
$color-fuchsia-600: #8E24AA;
$color-fuchsia-700: #7B1FA2;
$color-fuchsia-800: #6A1B9A;
$color-fuchsia-900: #4A148C;

$color-pink-100: #F8E7F1;
$color-pink-200: #F3D2E3;
$color-pink-300: #ECB7D3;
$color-pink-400: #EB8CBC;
$color-pink-500: #DD5A9C;
$color-pink-600: #D12E81;
$color-pink-700: #A21F61;
$color-pink-800: #831B50;
$color-pink-900: #741648;

$color-pink-alt-100:#FFE4E6;
$color-pink-alt-200:#FECDD3;
$color-pink-alt-300:#FDA4AF;
$color-pink-alt-400:#FB7185;
$color-pink-alt-500:#F43F5E;
$color-pink-alt-600:#E11D48;
$color-pink-alt-700:#BE123C;
$color-pink-alt-800:#9F1239;
$color-pink-alt-900:#881337;