@use "theme-settings" as *;
@use "sass:math";

:root {
  --line-height: #{$default-line-height};
  --line-height-ratio: #{$default-line-height-ratio};
  --font-family: #{$default-font-family};
  --font-family-mono: #{$font-family-monospace};
  --font-family-alt: #{$default-font-family-alt};

  --font-weight: #{$default-font-weight};

  --heading-font-size: 1em; //clamp(#{$min-heading-font-size},.5vw,#{$max-heading-font-size});
  --heading-font-weight: #{$default-heading-font-weight};

  --flow-space-ratio: #{$vertical-flow-space-ratio};
  --heading-flow-space-ratio: #{$vertical-heading-flow-space-ratio};

  --spacing: #{$spacing};
  --flow-spacing: #{$flow-spacing};
  --half-spacing: calc(var(--spacing) * .5);

  /* Resolving Margin Spacing For Zoom */
  --block-spacing: min(#{$block-spacing-vertical},#{$min-block-spacing-vertical});
  --block-half-spacing: min(#{math.div($block-spacing-vertical,2)}, #{math.div($min-block-spacing-vertical,2)});

  --inner-spacing: calc(var(--spacing) * 2);
  --inner-v-spacing: var(--inner-spacing);
  --inner-h-spacing: var(--inner-spacing);

  --min-grid-col-width: #{$min-grid-col-width};
}

[data-theme="light"],
:root { //:not([data-theme="dark"])
  color-scheme: light;

  --general-color-background: #{$general-color-background-light};
  --general-color-background-alt: #{$general-color-background-alt-light};
  --general-color-background-alt-active: #{$general-color-background-alt-active-light};
  --general-color-text: #{$general-color-text-light};
  --general-color-text-alt: #{$general-color-text-alt-light};
  --general-border-width: #{$general-border-width};
  --general-border-outline-width: #{$general-border-outline-width};
  --general-border-color: #{$general-border-color};
  --general-border-outline-color: #{$general-border-outline-color};
  --general-border-radius: #{$general-border-radius};

  --primary-color-h:hue($brand-color-light);
  --primary-color-s:saturation($brand-color-light);
  --primary-color-l:lightness($brand-color-light);
  --primary-color: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-l));
  --primary-color-lighten-ratio: #{$primary-color-light-lighten-ratio};
  --primary-color-darken-ratio: #{$primary-color-light-darken-ratio};
  --primary-color-saturate-ratio: #{$primary-color-light-saturate-ratio};
  --primary-color-desaturate-ratio: #{$primary-color-light-desaturate-ratio};
  --primary-color-lighten: hsl(var(--primary-color-h), var(--primary-color-s), calc(var(--primary-color-l) + (100% - var(--primary-color-l)) * var(--primary-color-lighten-ratio)));
  --primary-color-darken: hsl(var(--primary-color-h), var(--primary-color-s), calc(var(--primary-color-l) - var(--primary-color-l) * var(--primary-color-darken-ratio)));
  --primary-color-saturate: hsl(var(--primary-color-h), calc(var(--primary-color-s) + (100% - var(--primary-color-s)) * var(--primary-color-saturate-ratio)), var(--primary-color-l));
  --primary-color-desaturate: hsl(var(--primary-color-h), calc(var(--primary-color-s) - var(--primary-color-s) * var(--primary-color-desaturate-ratio)), var(--primary-color-l));

  --primary-color-text-l: #{$primary-color-light-text-l};
  --primary-color-alt-text-s:  #{$primary-color-light-text-alt-s};
  --primary-color-alt-text-l:  #{$primary-color-light-text-alt-l};
  --primary-color-text: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-text-l));
  --primary-color-alt-text: hsl(var(--primary-color-h), var(--primary-color-alt-text-s), var(--primary-color-alt-text-l));
  --primary-color-surface-1-s: #{$primary-color-light-surface-1-s};
  --primary-color-surface-1-l: #{$primary-color-light-surface-1-l};
  --primary-color-surface-1: hsl(var(--primary-color-h), var(--primary-color-surface-1-s), var(--primary-color-surface-1-l));
  --primary-color-surface-2-s: #{$primary-color-light-surface-2-s};
  --primary-color-surface-2-l: #{$primary-color-light-surface-2-l};
  --primary-color-surface-2: hsl(var(--primary-color-h), var(--primary-color-surface-2-s), var(--primary-color-surface-2-l));
  --primary-color-surface-3-s: #{$primary-color-light-surface-3-s};
  --primary-color-surface-3-l: #{$primary-color-light-surface-3-l};
  --primary-color-surface-3: hsl(var(--primary-color-h), var(--primary-color-surface-3-s), var(--primary-color-surface-3-l));
  --primary-color-surface-4-s: #{$primary-color-light-surface-4-s};
  --primary-color-surface-4-l: #{$primary-color-light-surface-4-l};
  --primary-color-surface-4: hsl(var(--primary-color-h), var(--primary-color-surface-4-s), var(--primary-color-surface-4-l));

  --secondary-color-h:hue($secondary-color-light);
  --secondary-color-s:saturation($secondary-color-light);
  --secondary-color-l:lightness($secondary-color-light);
  --secondary-color: hsl(var(--secondary-color-h), var(--secondary-color-s), var(--secondary-color-l));
  --secondary-color-lighten-ratio: #{$secondary-color-light-lighten-ratio};
  --secondary-color-darken-ratio: #{$secondary-color-light-darken-ratio};
  --secondary-color-saturate-ratio: #{$secondary-color-light-saturate-ratio};
  --secondary-color-desaturate-ratio: #{$secondary-color-light-desaturate-ratio};
  --secondary-color-lighten: hsl(var(--secondary-color-h), var(--secondary-color-s), calc(var(--secondary-color-l) + (100% - var(--secondary-color-l)) * var(--secondary-color-lighten-ratio)));
  --secondary-color-darken: hsl(var(--secondary-color-h), var(--secondary-color-s), calc(var(--secondary-color-l) - var(--secondary-color-l) * var(--secondary-color-darken-ratio)));
  --secondary-color-saturate: hsl(var(--secondary-color-h), calc(var(--secondary-color-s) + (100% - var(--secondary-color-s)) * var(--secondary-color-saturate-ratio)), var(--secondary-color-l));
  --secondary-color-desaturate: hsl(var(--secondary-color-h), calc(var(--secondary-color-s) - var(--secondary-color-s) * var(--secondary-color-desaturate-ratio)), var(--secondary-color-l));

  --secondary-color-text-l: #{$secondary-color-light-text-l};
  --secondary-color-alt-text-s:  #{$secondary-color-light-text-alt-s};
  --secondary-color-alt-text-l:  #{$secondary-color-light-text-alt-l};
  --secondary-color-text: hsl(var(--secondary-color-h), var(--secondary-color-s), var(--secondary-color-text-l));
  --secondary-color-alt-text: hsl(var(--secondary-color-h), var(--secondary-color-alt-text-s), var(--secondary-color-alt-text-l));
  --secondary-color-surface-1-s: #{$secondary-color-light-surface-1-s};
  --secondary-color-surface-1-l: #{$secondary-color-light-surface-1-l};
  --secondary-color-surface-1: hsl(var(--secondary-color-h), var(--secondary-color-surface-1-s), var(--secondary-color-surface-1-l));
  --secondary-color-surface-2-s: #{$secondary-color-light-surface-2-s};
  --secondary-color-surface-2-l: #{$secondary-color-light-surface-2-l};
  --secondary-color-surface-2: hsl(var(--secondary-color-h), var(--secondary-color-surface-2-s), var(--secondary-color-surface-2-l));
  --secondary-color-surface-3-s: #{$secondary-color-light-surface-3-s};
  --secondary-color-surface-3-l: #{$secondary-color-light-surface-3-l};
  --secondary-color-surface-3: hsl(var(--secondary-color-h), var(--secondary-color-surface-3-s), var(--secondary-color-surface-3-l));
  --secondary-color-surface-4-s: #{$secondary-color-light-surface-4-s};
  --secondary-color-surface-4-l: #{$secondary-color-light-surface-4-l};
  --secondary-color-surface-4: hsl(var(--secondary-color-h), var(--secondary-color-surface-4-s), var(--secondary-color-surface-4-l));  

}

@mixin dark {
  color-scheme: dark;
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    @include dark;
  }
}

[data-theme="dark"] {
  @include dark;
}

:root {
  --scrollbar-color-background: var(--secondary-color);
  --scrollbar-color-thumb: var(--secondary-color-darken);
  --scrollbar-color-thumb-border: var(--secondary-color);
}