$grid-align-values: ('start', 'end', 'center', 'stretch');

$grid-spacer-prefixes: ('tiny', 'small', 'default', 'medium', 'big', 'huge', 'auto');
$grid-align-prefixes: ('top', 'bottom', 'center', 'stretch');
$grid-justify-prefixes: ('left', 'right', 'center', 'stretch');

$breakpoint-prefixes: ('m', 't', 'md', 'd', 'dm', 'lg', 'xl', 'xxl');

$vertical-flow-enabled: true;
