.slider {
  $ref: &;
  --slider-max-height: initial;
  --slider-horizontal-padding: 2.5em;
  --slides-per-page: 1;
  --slide-gap: 5px;
  --slide-width: calc(100% / var(--slides-per-page));
  --justify-indicators: center;

  position: relative;
  height: var(--slider-height);

  &__slides-wrapper {
    display: block;
    position: relative;
    width: 100%;
    padding: 0 var(--slider-horizontal-padding);
  }

  &__slides-inner {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  &__slides {
    --translate-slide-width: var(--slide-width);
    --translate-offset: calc(var(--slide-index, 0) / var(--slides-count, 1) * (var(--translate-slide-width) * -1));
    display: flex;
    flex-grow: 1;
    list-style: none;
    transition: transform 0.6s ease-out;
    transform: translateX(var(--translate-offset));
  }

  &__controls {
    &-prev,
    &-next {
      position: absolute;
      top: 50%;
      left: var(--slide-gap);
      transform: translateY(-50%);
      z-index: 700;
      margin: 0 !important;
    }

    &-next {
      left: unset;
      right: var(--slide-gap);
    }
  }

  &--showControlsOnHover :where(#{$ref}__controls-next, #{$ref}__controls-prev) {
    opacity: 0;
    transition: opacity 0.2s ease-out;
  }

  &--showControlsOnHover:hover :where(#{$ref}__controls-next, #{$ref}__controls-prev) {
    opacity: 1;
  }

  &__indicators {
    display: flex;
    margin: 0.5em 0;
    padding: 0 var(--slide-gap);
    width: 100%;
    gap: var(--half-spacing);
    align-items: center;
    justify-content: var(--justify-indicators);
    list-style: none;

    & button {
      display: grid;
      place-content: center;
      width: var(--dots-size, 0.7em);
      height: var(--dots-size, 0.7em);
      padding: 0;
      border-radius: 50%;
      //background-color: var(--primary-background);
      //border: var(--border-width) solid var(--primary-border-color);

      &[aria-current='true'] {
        transform: scale(1.25);
        background-color: var(--primary-color-variation-3);
        border: var(--border-width) solid var(--primary-color);
      }

      &[data-action] {
        min-width: 1.5em;
        min-height: 1.5em;
      }
    }
  }

  &__slide {
    --auto-width: calc(var(--slide-width) - (var(--slide-gap) * 2));
    $ref: &;

    position: relative;
    display: flex;
    align-items: center;
    flex: 0 0 var(--auto-width);
    max-width: var(--auto-width);
    height: auto;
    max-height: var(--slider-max-height);
    margin: 0 var(--slide-gap);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: grab;

    &.grabbing {
      cursor: grabbing;
      user-select: none;

      & > * + * {
        user-select: none;
      }
    }

    &__content {
      display: grid;
      place-items: center;
      position: relative;
      height: 100%;
      width: 100%;

      > * {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }

      > img {
        object-fit: cover;
        max-height: var(--slider-max-height);
        z-index: -1;
      }
    }

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    &:hover {
      #{$ref}__overlay {
        opacity: 1;
      }
    }
  }
}
