figcaption {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  padding: var(--half-spacing) var(--spacing);
}

figure {
  &.figcaption-inner {
    position: relative;
    & figcaption {
      position: absolute;
    }

    &--top-left figcaption {
      left: 0;
      top: 0;
    }

    &--top-center figcaption {
      left: 0;
      top: 0;
      justify-content: center;
    }

    &--center figcaption {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      justify-content: center;
    }

    &--top-right figcaption {
      right: 0;
      top: var(--half-spacing);
    }

    &--bottom-left figcaption {
      left: 0;
      bottom: 0;
    }

    &--bottom-center figcaption {
      left: 0;
      bottom: 0;
      justify-content: center;
    }

    &--bottom-right figcaption {
      left: 0;
      bottom: 0;
    }
  }
}

img.fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

:where(svg):where(:not([fill])) {
  stroke: currentColor;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}
