button,
[role="button"],
input[type="button"],
input[type="submit"],
input[type="reset"],
.btn {
  //display: inline-block;
  //text-align:center;
  display: inline-flex;
  position: relative;
  width: fit-content;
  justify-content: center;
  align-items: center;
  //margin-bottom: var(--spacing);
  padding: .5rem 1.2rem;

  background-clip: padding-box !important;
  font-size:1em;
  line-height: var(--line-height);
  text-decoration: none;
  cursor: pointer !important;
  transition: all .2s ease-in-out;

  &[disabled],
  &[aria-disabled],
  &:disabled {
    box-shadow: none;
    opacity: .15;
    pointer-events: none;
  }

  &:not(:only-child):not(:last-child):not(:only-of-type) {
    margin-right: 1rem;
  }

  svg {
    width: .8em;
    height: .8em;
  }

  /*  &:last-child {
      margin-bottom: 0;
    }*/
}

button,
[role="button"],
input[type="button"],
input[type="submit"],
input[type="reset"],
.btn,
.btn--primary {
  --button-color-background: --primary-color;
  --button-color-hover-background: --primary-lighten;
  //--border-color:var(--primary-border-color);
  //--border-width: var(--border-width);
  //--text:var(--primary-text);
  //--active-background:var(--primary-focus);
  //--active-text:var(--primary-text);
  //--hover-background:var(--primary-hover);
  //--hover-text:var(--primary-hover-text);
  //--hover-border-color:var(--primary-border-color-hover);
  //--border-radius:var(--border-radius);
  //--shadow:var(--button-shadow);

  background-color: var(--button-color-background);
  color: var(--button-color-text, --primary-color-text);
  border: var(--button-border-width, --general-border-width) solid var(--button-border-color, --primary-color-darken);
  border-radius: var(--button-border-radius, --general-border-radius);
  box-shadow: var(--button-shadow, --primary-shadow);

  &:active,
  &:focus {
    background-color: var(--button-color-active-background, --primary-saturate);
    color: var(--button-color-active-text, --primary-color-alt-text);
    outline: dotted var(--button-border-color, --primary-color-darken)  calc(var(--button-border-width, --general-border-width) * 3);
    outline-offset: -0.35em;
  }

  &:hover {
    border: var(--button-border-width, --general-border-width) solid var(--button-color-hover-border, --primary-color-saturate );
    background-color: var(--button-color-hover-background);
    box-shadow: var(--button-shadow-hover, --primary-shadow-alt);
    color: var(--button-color-hover-text, --primary-color-alt-text);
  }
}



input[type="reset"],
button[type="reset"],
.btn--secondary {
  --button-color-background:var(--secondary-color);
  --button-color-border:var(--secondary-color-saturate);
  --button-color-text:var(--secondary-color-text);
  --button-color-active-background:var(--secondary-color-saturate);
  --button-color-active-text:var(--secondary-color-alt-text);
  --button-color-hover-background:var(--secondary-color-lighten);
  --button-color-hover-text:var(--secondary-color-alt-text);
  --button-color-hover-border:var(--secondary-color-saturate);
}

.btn--outline {
  border-style: solid;
  background: transparent !important;
  color: var(--button-color-background) !important;

  &:hover {
    color: var(--button-color-hover-background) !important;
  }
}

.btn--pills {
  border-radius: 2em !important;
}

.btn--noshadow {
  box-shadow: none !important;

  &:hover {
    box-shadow: none !important;
  }
}

.btn--noborder {
  border-style: none !important;

  &:hover {
    border-style: none !important;
  }
}

.btn--norounded {
  border-radius: 0 !important;
}

.btn--circle {
  border-radius: 50% !important;
}

.btn--block {
  width: 100% !important; //98% because of the shadow
  margin-bottom: var(--half-spacing);
  margin-right: 0 !important;
}

.btn--big {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  font-size: 1.6em !important;
}

.btn--small {
  padding: .4rem .8rem !important;
  font-size: .8em !important;
}

.btn--info {
  --button-color-background:var(--info-color);
  --button-color-border:var(--info-color-saturate);
  --button-color-text:var(--info-color-text);
  --button-color-active-background:var(--info-color-saturate);
  --button-color-active-text:var(--info-color-alt-text);
  --button-color-hover-background:var(--info-color-lighten);
  --button-color-hover-text:var(--info-color-alt-text);
  --button-color-hover-border:var(--info-color-saturate);
}

.btn--success {
  --button-color-background:var(--success-color);
  --button-color-border:var(--success-color-saturate);
  --button-color-text:var(--success-color-text);
  --button-color-active-background:var(--success-color-saturate);
  --button-color-active-text:var(--success-color-alt-text);
  --button-color-hover-background:var(--success-color-lighten);
  --button-color-hover-text:var(--success-color-alt-text);
  --button-color-hover-border:var(--success-color-saturate);
}

.btn--warning {
  --button-color-background:var(--warning-color);
  --button-color-border:var(--warning-color-saturate);
  --button-color-text:var(--warning-color-text);
  --button-color-active-background:var(--warning-color-saturate);
  --button-color-active-text:var(--warning-color-alt-text);
  --button-color-hover-background:var(--warning-color-lighten);
  --button-color-hover-text:var(--warning-color-alt-text);
  --button-color-hover-border:var(--warning-color-saturate);
}

.btn--danger {
  --button-color-background:var(--danger-color);
  --button-color-border:var(--danger-color-saturate);
  --button-color-text:var(--danger-color-text);
  --button-color-active-background:var(--danger-color-saturate);
  --button-color-active-text:var(--danger-color-alt-text);
  --button-color-hover-background:var(--danger-color-lighten);
  --button-color-hover-text:var(--danger-color-alt-text);
  --button-color-hover-border:var(--danger-color-saturate);
}