a,
.link {
  &,
  &:visited {
    --link-color-background: transparent;
    --link-color-text:var(--primary-color);
    --link-color-decoration-color:var(--primary-color);
    --link-color-hover-background: transparent;
    --link-color-hover-text:var(--primary-color-lighten);
    --link-color-hover-decoration-color:var(--primary-color-lighten);

    background-color:var(--link-color-background);
    color:var(--link-color-text);
    font-size: 1.1em;
    text-decoration-color: var(--link-color-decoration-color) !important;
    transition: all .2s ease;
  }

  &:hover,
  &:focus {
    background-color:var(--link-color-hover-background);
    color:var(--link-color-hover-text);
    text-decoration-color: var(--link-color-hover-decoration-color) !important;
  }

  &[aria-current] {
    color:var(--primary-hover);
    font-weight: 500;
    pointer-events: none;
  }

  &.link--mark {
    --link-color-background: var(--primary-color);
    --link-color-text:var(--primary-color-text);
    --link-color-hover-background: var(--primary-color-lighten);
    --link-color-hover-text:var(--primary-color-alt-text);

    padding:0 0.4rem;
  }
}

a.link--secondary {
  --link-color-text:var(--secondary-color);
  --link-color-decoration-color:var(--secondary-color);
  --link-color-hover-text:var(--secondary-color-lighten);
  --link-color-hover-decoration-color:var(--secondary-color-lighten);

  &.link--mark {
    --link-color-background: var(--secondary-color);
    --link-color-text: var(--secondary-color-text);
    --link-color-hover-background: var(--secondary-color-lighten);
    --link-color-hover-text: var(--secondary-color-text-alt);

    padding: 0 0.4rem;
  }
}

.link-underline {
  text-decoration: underline;
  &:hover {
    text-decoration: underline;
  }

  &--dashed {
    text-decoration-style: dashed;
    &:hover {
      text-decoration-style: dashed;
    }
  }

  &--dotted {
    text-decoration-style: dotted;
    &:hover {
      text-decoration-style: dotted;
    }
  }

  &--double {
    text-decoration-style: double;
    &:hover {
      text-decoration-style: double;
    }
  }

  &--wavy {
    text-decoration-style: wavy;
    &:hover{
      text-decoration-style: wavy;
    }
  }

  &--lineThrough {
    text-decoration-line:line-through;
    &:hover {
      text-decoration-line:line-through;
    }
  }

  &--overline {
    text-decoration-line: overline;
    &:hover {
      text-decoration-line: overline;
    }
  }

  &--around {
    text-decoration-line: underline overline;
    &:hover {
      text-decoration-line: underline overline;
    }
  }
}