progress {
  display: inline-block;
  appearance: none;
  width: 100%;
  height: var(--progress-height, 1rem);
  margin-top: var(--half-spacing);
  overflow: hidden;
  border: var(--progress-border-width, --general-border-width) solid var(--progress-color-border, --general-color-border);
  border-radius: var(--progress-border-radius, --general-border-radius);
  background-color: var(--progress-color-background,--general-color-background-alt);
  color: var(--progress-color, --primary-color);

  &::-webkit-progress-bar {
    border-radius:  var(--progress-border-radius, --general-border-radius);
    background: transparent;
  }
  &[value]::-webkit-progress-value,
  &::-moz-progress-bar{
    border-radius:  var(--progress-border-radius, --general-border-radius);
    background-color: var(--progress-color, --primary-color);
  }

  &:indeterminate,
  &[indeterminate="true"],
  &:not([value]){
    --_color-background : var(--progress-color-background,--general-color-background-alt);
    background:
            var(--_color-background)
            linear-gradient(to right, var(--progress-color, --primary-color) 30%, var(--_color-background) 30%) top left / 150% 150% no-repeat;

    animation: progressIndeterminate 2.5s linear infinite alternate;

    &[value]::-webkit-progress-value {
      background-color: transparent;
    }
    &::-moz-progress-bar {
      background-color: transparent;
    }
  }

  &:first-child {
    margin-top: 0;
  }
}

@keyframes progressIndeterminate {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -200% 0;
  }
}