@use "../abstracts/mixins" as *;

.card,
.card-panel {
  --custom-background : var(--panel-background);
  --custom-text: var(--panel-text);
  --custom-border-color: var(--panel-border-color);
  --custom-border-width: var(--border-width);
  --custom-border-radius:var(--panel-border-radius);
  --custom-shadow:var(--panel-shadow);

  display:flex;
  flex-direction: column;
  //padding: var(--inner-v-spacing) var(--inner-h-spacing);
  //overflow: auto;
  border: var(--custom-border-width) solid var(--custom-border-color);
  border-radius: var(--custom-border-radius);
  background-clip: border-box;
  background-color: var(--custom-background);
  box-shadow: var(--custom-shadow);
  color:var(--custom-text);
  //margin:var(--spacing) 0;

  &:first-child {
    margin-top: 0;
  }

  & + *:is(:not(h1,h2,h3,h4,h5,h6, section, article,.section, .article, .card, footer)) {
    margin-top:var(--block-half-spacing)
  }

  //> header,
  //> footer {
  //  //margin: calc(var(--inner-v-spacing) * -1) calc(var(--inner-h-spacing) * -1);
  //  padding: var(--inner-v-spacing) var(--inner-h-spacing);
  //}

  > header,
  > footer {
    display:flex;
    flex-wrap: wrap;
    width: 100%;
  }

  > header {
    border-top-right-radius: var(--custom-border-radius);
    border-top-left-radius: var(--custom-border-radius);
  }

  > footer {
    margin-top: auto;
    //padding-top:calc(var(--inner-v-spacing) + (var(--spacing) * 2));
    border-bottom-right-radius: var(--custom-border-radius);
    border-bottom-left-radius: var(--custom-border-radius);
  }

  > figure:first-child,
  > figure:first-child img,
  > header img:first-child,
  > header figure:first-child,
  > header figure:first-child img,
  > img:first-child {
    //margin: calc(var(--inner-v-spacing)*-1) calc(var(--inner-h-spacing)*-1);
    border-top-right-radius: var(--custom-border-radius);
    border-top-left-radius: var(--custom-border-radius);
  }

  > figure:last-child,
  > figure:last-child img,
  > footer img:last-child,
  > footer figure:last-child,
  > footer figure:last-child img,
  > img:last-child {
    margin-top:0;
    border-bottom-right-radius: var(--custom-border-radius);
    border-bottom-left-radius: var(--custom-border-radius);
  }

  &--collapsable {
    transition: max-height 0.25s ease-out, opacity 0.25s ease;

    &,
    &[hidden],
    &[aria-hidden="true"] {
      visibility: collapse;
      height: 0;
      max-height: 0;
      opacity: 0;
    }


    &:not([hidden]),
    &[aria-hidden="false"],
    &.expanded {
      visibility: visible;
      height: auto;
      max-height: 100rem;
      opacity: 1;
    }
  }
}

.card-panel {
  display:block;
  padding: var(--inner-v-spacing) var(--half-spacing);
  border: none;
  background-color: unset;
  box-shadow: none;
  color: unset;
}

@include mq(mobile) {
  .card-panel {
    padding: var(--inner-v-spacing) var(--spacing);
  }
}

@include mq(tablet) {
  .card-panel {
    padding: var(--inner-v-spacing) var(--inner-h-spacing);
  }
}