@use '../abstracts/mixins' as *;

.card,
.panel {
  --background-color: var(--neutral-color-variation-1);
  --custom-text: var(--on-neutral-color-variation-1);
  --border-width: var(--elem-border-width);
  --border-color: var(--neutral-color-variation-2);
  --border-radius: var(--elem-border-radius);
  --box-shadow: var(--neutral-shadow);

  display: flex;
  flex-direction: column;
  //padding: var(--inner-v-spacing) var(--inner-h-spacing);
  //overflow: auto;
  background-color: var(--background);
  background-clip: border-box;
  color: var(--color);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);

  &:first-child {
    margin-top: 0;
  }

  & + *:is(:not(h1, h2, h3, h4, h5, h6, section, article, .section, .article, .card, footer)) {
    margin-top: var(--block-half-spacing);
  }

  > header,
  > footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  > header {
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
  }

  > footer {
    margin-top: auto;
    //padding-top:calc(var(--inner-v-spacing) + (var(--spacing) * 2));
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
  }

  > figure:first-child,
  > figure:first-child img,
  > header img:first-child,
  > header figure:first-child,
  > header figure:first-child img,
  > img:first-child {
    //margin: calc(var(--inner-v-spacing)*-1) calc(var(--inner-h-spacing)*-1);
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
  }

  > figure:last-child,
  > figure:last-child img,
  > footer img:last-child,
  > footer figure:last-child,
  > footer figure:last-child img,
  > img:last-child {
    margin-top: 0;
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
  }

  &--collapsable {
    transition: max-height 0.25s ease-out, opacity 0.25s ease;

    &,
    &[hidden],
    &[aria-hidden='true'] {
      visibility: collapse;
      height: 0;
      max-height: 0;
      opacity: 0;
    }

    &:not([hidden]),
    &[aria-hidden='false'],
    &.expanded {
      visibility: visible;
      height: auto;
      max-height: 100rem;
      opacity: 1;
    }
  }
}

.panel {
  display: block;
  padding: var(--inner-v-spacing) var(--half-spacing);
  border: none;
  box-shadow: none;
}

@include mq(mobile) {
  .panel {
    padding: var(--inner-v-spacing) var(--spacing);
  }
}

@include mq(tablet) {
  .panel {
    padding: var(--inner-v-spacing) var(--inner-h-spacing);
  }
}
