@use '../abstracts/mixins' as *;

details {
  --border-width: var(--elem-border-width);
  --border-color: var(--primary-color);

  display: block;
  margin-top: var(--spacing);
  padding-bottom: var(--spacing);
  border-bottom: var(--border-width) solid var(--border-color);

  summary {
    display: block;
    position: relative;
    outline: none;
    color: var(--details-summary-close);
    list-style: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &[role='button'] {
      width: 100%;
      justify-content: left;

      &::after {
        border-color: var(--border-color);
        top: 0.5em;
      }

      &:hover {
        &::after {
          border-color: var(--hover-border-color);
        }
      }
    }

    &::-webkit-details-marker {
      display: none;
    }

    &::marker {
      display: none;
    }

    &::-moz-list-bullet {
      list-style-type: none;
    }

    &:hover {
      color: var(--primary-color-variation-1) !important;

      &::after {
        --_border: 3px solid var(--hover-border-color);

        border-right: var(--_border);
        border-bottom: var(--_border);
      }
    }

    &::after {
      --_border: 3px solid var(--border-color);

      display: none;
      position: absolute;
      content: '';
      top: 0.25em;
      right: 1em;
      width: 1em;
      height: 1em;
      transform: rotate(-45deg);
      transform-origin: center;
      border-right: var(--_border);
      border-bottom: var(--_border);
      transition: all 0.2s ease-in-out;
    }

    & > * {
      display: inline;
    }

    & ~ * {
      margin-top: var(--spacing) !important;
    }
  }

  &[open] {
    summary {
      color: var(--primary-color);

      &[role='button'] {
        background-color: var(--active-background-color);
        color: var(--active-color);

        &::after {
          top: 0.3em;
          border-color: var(--active-border-color);
        }
      }

      &::after {
        --_border: 3px solid var(--active-border-color);
        top: 0;
        transform: rotate(45deg);
        border-right: 3px solid var(--_border);
        border-bottom: 3px solid var(--_border);
      }
    }
  }

  &:first-child {
    margin-top: 0;
  }
}

@include mq(tablet) {
  details summary {
    & ~ * {
      margin-left: var(--block-half-spacing) !important;
      margin-right: var(--block-half-spacing) !important;
    }

    &::after {
      display: block;
    }
  }
}
