@use "../abstracts/mixins" as *;

details {
  display: block;
  margin-top:var(--spacing);
  padding-bottom: var(--spacing);
  border-bottom:  var(--details-border);

  summary {
    display: block;
    position: relative;
    outline: none;
    color:var(--details-summary-close);
    list-style: none;
    cursor: pointer;
    transition: all .2s ease-in-out;

    &[role="button"] {
      width: 100%;
      justify-content: left;

      &::after {
        border-color: var(--button-text);
        top:.5em;
      }

      &:hover {
        &::after {
          border-color: var(--button-active-text);
        }
      }
    }

    &::-webkit-details-marker {
      display: none;
    }

    &::marker {
      display: none;
    }

    &::-moz-list-bullet {
      list-style-type: none;
    }

    &:hover {
      color:var(--details-summary-hover) !important;

      &::after {
        border-right: 3px solid var(--details-arrow-open);
        border-bottom:3px solid var(--details-arrow-open);
      }
    }

    &::after {
      display: none;
      position: absolute;
      top:.25em;
      right:1em;
      width: 1em;
      height:1em;
      transform:rotate(-45deg);
      transform-origin: center;
      border-right: 3px solid var(--details-arrow-close);
      border-bottom:3px solid var(--details-arrow-close);
      content: "";
      transition: all .2s ease-in-out;
    }

    & > * {
      display: inline;
    }

    & ~ * {
      margin-top:var(--spacing) !important;
    }
  }

  &[open] {
    summary {
      color:var(--details-summary-open);

      &[role="button"] {
        color: var(--button-active-text);

        &::after {
          top:.3em;
          border-color: var(--button-active-text);
        }
      }

      &::after {
        top:0;
        transform: rotate(45deg);
        border-right: 3px solid var(--details-arrow-open);
        border-bottom:3px solid var(--details-arrow-open);
      }
    }
  }

  &:first-child {
    margin-top: 0;
  }
}

@include mq(tablet) {
  details summary {
    & ~ * {
      margin-left: var(--block-half-spacing) !important;
      margin-right: var(--block-half-spacing) !important;
    }

    &::after {
      display: block;
    }
  }
}